body {
    color: darkred;
    margin: 0;
    padding: 0;
}
header {
    background-image: url(../images/footer/paws.jpg);
    text-align: center;
    border-bottom: 3px solid;
}
header img {
    height: 50px;
}
header h1 {
    font-size: 50px;
    background-color: antiquewhite;
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
    border: 3px solid;
    border-radius: 15px;
    box-shadow: 0px 0px 15px;
}
header a , footer p, address{
    color: darkred;
    background-color: antiquewhite;
    padding: 8px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 15px;
}
main {
    background-color: rgb(252, 136, 236);
    color: darkred;
    display: flex;
    flex-direction: column;

}
main p {
    font-size: 20px;
}
main h2 {
    font-size: 30px;
}
article {
    background-color: antiquewhite;
    border: 3px solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8px;
    padding: 10px;
}
footer {
    background-color: rgb(190, 6, 190);
    margin-top: auto 0;
    border-top: 3px solid;
    box-shadow: 0 50vh 0 50vh rgb(190, 6, 190);
    text-align: center;
}
footer address {
    margin-left: 40%;
    margin-right: 40%;
}
footer marquee img{
    height: 31px;
}
#flip {
    -webkit-transform: scaleX(-1);
    transform: -1;
}
#emphasise {
    color: red;
    font-weight: bold;
}
